@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: #d5d4d4;
}

.container {
    max-width: 1080px;
    margin: 20px auto;
    padding: 0 20px;
}

.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px #0000004d;
    color: #fff;
    background: #333;
    margin: 20px auto 0 auto;
    padding: 20px;

    .top,
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .city {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
        letter-spacing: 1px;
    }

    &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        margin: 0;
    }

    &__icon {
        width: 80px;
    }

    .temperature {
        font-weight: 600;
        font-size: 70px;
        width: auto;
        letter-spacing: -3px;
        margin: 10px 0;
    }

    .details {
        width: 100%;
        padding-left: 20px;

        &__row {
            display: flex;
            justify-content: space-between;
        }

        &__label {
            text-align: left;
            font-weight: 400;
            font-size: 12px;
        }

        &__value {
            text-align: right;
            font-weight: 600;
            font-size: 12px;
        }
    }
}
